
[html]
title = kt.jsonapi coverage

[report]
omit = tests/*.py
precision = 1

[run]
branch = True
source = kt.jsonapi

[paths]
#
# This declares that these paths are equivalent.
#
# Our tox.ini runs coverage in parallel mode, and combines results
# across Python versions at the end.  This lets us review the coverage
# of Python-version-specific bits of code in one report.
#
source =
   src/kt
   .tox/*/lib/python*/site-packages/kt
   .tox/pypy*/site-packages/kt
